<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error - <%= error.name %></title>
</head>
<body>
  <h1><%= error.name %></h1>
  <h2><%= error.status %></h2>
  <p><%= error.message %></p>
  <p><%= error.stack %></p>
</body>
</html>
